@use './variables';

* {
    padding: 0px;
    margin: 0px;
}
html {
    font-size: variables.$tamanioDeFuenteGeneral;
} 
h2 {
    font-size: 4.5rem;
    color: aqua;
    /* font-family: ; */
}
h3 {
    font-size: 3rem;
    /* font-family: ; */
}
p {
    font-size: 2.5rem;
    color: #fff;
    /* font-family: ; */
}
