@use './configGeneral';

.contenedor__sectorDisciplinas {
    display: flex;
    flex-direction: column;
    align-items: center;
        .contenedor__introduccion {
            width: 50%;
            text-align: center;
        }
        .contenedor__cartillas {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
                .carta__disciplina {
                    width: 50rem;
                    height: auto;
                        .contenedor__cartillas__titulo {
                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                }
        }
}