.contenedor__promocion__empezaHoy {
    display: flex;
    width: 81.5%;   /* USA EL MISMO TAMAÑO QUE EL CONTENEDOR BENEFICOS*/ 
        .contenedor__promocion__empezaHoy__boton {
            display: flex;
            align-items: center;
            justify-content: center;
        }
}

