@use './configGeneral';

/* .nav-bar__personalizada {
    font-family: fantasy;
} */

.navbar__personalizada {
    .navbar__toggler__icon__personalizado {
        width: 3.5rem;
        height: 3.5rem;
    }
    .navbar__brand__personalizada {
        font-size: 3rem;
    }
    .nav-item {
        font-size: 2.2rem;
        margin-right: 35px;
    }
    .dropdown-item {
        font-size: 2rem;
    }
}