@use './configGeneral';

/* .nav-bar__personalizada {
    font-family: fantasy;
} */

.navbar__personalizada {
        li {
            font-size: 1.5rem;
        }
        .navbar-brand__personalizada {
            font-size: 2.5rem;
        }
}

.navbar-nav:first-child {
    > .nav-item {
        margin-right: 35px;
    }
}