@use './variables';

/* Pantallas md */ 
@media (max-width: variables.$lg) {
    
    /* Configuracion general */
    h2 {
        font-size: variables.$tamanioDeFuenteH2Md;
        /* font-family: ; */
    }
    h3 {
        font-size: variables.$tamanioDeFuenteH3Md;
    }
    p {
        font-size: variables.$tamanioDeFuentePMd;
    }
    /* Logo y título y resto del Nav */
        .navbar__brand__personalizada {
            font-size: variables.$tamanioDeFuenteTituloLogoMd;
                img {
                    width: 50px; 
                    height: 50px;
                }
        }
        
        .tira__submenues {
            width: 20%;
        }
    /* Botón video contacto */
    .contenedor__sectorVideoBoton {
        .contenedor__sectorVideoBoton__contacto {
                font-size: variables.$tamanioDeFuenteBotonMd;
                padding: 1rem;
                width: auto;
                height: auto;
                position: absolute;
                margin-bottom: 2rem;
        }
    }
    /* Sección Disciplinas */
    .contenedor__sectorDisciplinas {
        display: flex;
        flex-direction: column;
        align-items: center;
            .contenedor__cartillas {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                text-align: center;
                    .carta__disciplina {
                        width: 35rem;
                        height: auto;
                    }
            }
    }
    /* Sección Profesores */ 
    .contenedor__carrousel {
        display: inline-block; 
    }
    .contenedor__sectorProfesores {
            .contenedor__profesoresHorizontal {
                display: none;
            }
    }
    /* Sección Beneficios */
    .contenedor__promocion {
        height: auto;
        width: 700px;
        margin: 0 auto;
        margin-top: 10rem;
            .contenedor__cartaBeneficios {
                margin: 0 auto;
                width: 100%;
            }
    }
    /* Sección Empezá Hoy */
    .contenedor__promocion__empezaHoy {
        width: 100%;
            .contenedor__promocion__empezaHoy__boton {
                padding: auto;
                    a {
                        padding: 20px;
                        font-size:variables.$tamanioDeFuenteBotonMd;
                    }
            }
    }
    /* Footer */
    .footer__contenedor__redesSociales {
        a {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

/* Pantallas sm */
@media (max-width: variables.$md) { 
    h2 {
        color:red;
    }
    /* Logo y título y resto del Nav */
    .navbar__brand__personalizada {
        font-size: variables.$tamanioDeFuenteTituloLogoSm;
            img {
                width: 40px; 
                height: 40px;
            }
    }
    .tira__submenues {
        width: 40%;
    }
    .contenedor__carrousel {
        display: none;
    }
    /* Sección Beneficios */
    .contenedor__promocion {
        height: auto;
        width: 550px;
        margin: 0 auto;
        margin-top: 10rem;
            .contenedor__cartaBeneficios {
                margin: 0 auto;
                width: 100%;
            }
    }
    /* Sección Empezá Hoy*/ 
    .contenedor__promocion__empezaHoy {
        width: 576px;
            .contenedor__promocion__empezaHoy__boton {
                padding: auto;
                    a {
                        padding: 3px;
                        font-size:variables.$tamanioDeFuenteBotonMd;
                        background-color: red;
                    }
            }
    }
    /* Footer */ 
    .footer__contenedor__redesSociales {
        padding-right: 0;
            a {
                margin: 0 1rem;
            }
    }
}