@use './variables';

/* Pantallas md */ 
@media (max-width: variables.$lg) {
    
    /* Configuracion general */
    h2 {
        font-size: variables.$tamanioDeFuenteH2Md;
        /* font-family: ; */
    }
    h3 {
        font-size: variables.$tamanioDeFuenteH3Md;
    }
    p {
        font-size: variables.$tamanioDeFuentePMd;
    }
    /* Logo y título de Nav */
    .navbar__brand__personalizada {
        font-size: variables.$tamanioDeFuenteTituloLogoMd;
            img {
                width: 50px; 
                height: 50px;
            }
    }
    /* Botón video contacto */
    .contenedor__sectorVideoBoton {
        .contenedor__sectorVideoBoton__contacto {
                font-size: variables.$tamanioDeFuenteBotonMd;
                padding: 1rem;
                width: auto;
                height: auto;
                position: absolute;
                margin-bottom: 2rem;
        }
    }
    /* Sección Disciplinas */
    .contenedor__sectorDisciplinas {
        display: flex;
        flex-direction: column;
        align-items: center;
            .contenedor__cartillas {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                text-align: center;
                    .carta__disciplina {
                        width: 35rem;
                        height: auto;
                    }
            }
    }
}