/* Tamaños de fuente */
$tamanioDeFuenteGeneral: 62.5%;
$tamanioDeFuenteNav: 2rem;
$tamanioDeFuenteTituloLogo: 3.5rem;
$tamanioDeFuenteH2: 3.5rem;
$tamanioDeFuenteH3: 3rem;
$tamanioDeFuenteP: 2rem;
$tamanioDeFuenteBoton: 2.5rem;


/* Tamaño de fuente pantallas md */
$tamanioDeFuenteTituloLogoMd: 2.5rem;
$tamanioDeFuenteBotonMd: 15px;
$tamanioDeFuenteH2Md: 3rem;
$tamanioDeFuenteH3Md: 2.5rem;
$tamanioDeFuentePMd: 1.5rem;


















/* $fuenteParaTitulos:
$fuenteParaSubTitulos:
$fuenteParaContenidos: */

/* Colores */
$negro: #021013;

/* Valores de BreakPoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;