/* Tamaños de fuente */
$tamanioDeFuenteGeneral: 62.5%;
$tamanioDeFuenteNav: 1.5rem;
$tamanioDeFuenteTituloLogo: 2.5rem;
$tamanioDeFuenteH1: 3.5rem;
$tamanioDeFuenteH2: 2.7rem;
$tamanioDeFuenteH3: 2.3rem;
$tamanioDeFuenteP: 1.9rem;
$tamanioDeFuenteBoton: 1.8rem;
$tamanioFuenteFormulario: 1.8rem;
$tamanioFuenteFormularioPlaceHolder: 1.3rem;

/* Tamaño de fuente pantallas md */
$tamanioDeFuenteTituloLogoMd: 2.5rem;
$tamanioDeFuenteBotonMd: 1.2rem;
$tamanioDeFuenteH2Md: 2.2rem;
$tamanioDeFuenteH3Md: 1.9rem;
$tamanioDeFuentePMd: 1.5rem;

/* Tamaño de fuente pantallas sm */
$tamanioDeFuenteNavSm: 1.5rem;
$tamanioDeFuenteTituloLogoSm: 2rem;
$tamanioDeFuenteBotonSm: 1rem;
$tamanioDeFuenteH2Sm: 2rem;
$tamanioDeFuenteH3Sm: 1.8rem;
$tamanioDeFuentePSm: 1.2rem;
$tamanioFuenteFormularioSm: 1.2rem;
$tamanioFuenteFormularioPlaceHolderSm: 0.7rem;


/* Colores */
$negro: #021013;

/* Valores de BreakPoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;