@use './configGeneral'; /* ¿Está bien usar la configuración general en cada uno de los archivos? */

.contenedor__sectorVideoBoton {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
        .contenedor__sectorVideoBoton__video {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
    }
    .contenedor__sectorVideoBoton__contacto {
            font-size: 2.5rem;
            padding: 2rem;
            width: auto;
            height: auto;
            position: absolute;
            margin-bottom: 6rem;
    }
}